<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Visualization Dashboard</title>
    <meta th:replace="fragments/header :: header">
</head>
<body>
        <div class="container title">
            <div class="row">
                <div class="eight columns">
                    <h5>Visualization dashboard</h5>
                </div>
                <div class="two columns" align="right">
                    <h5 th:inline="text">[[${#httpServletRequest.remoteUser}]]</h5>
                </div>
                <div class="two columns">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                    </form>
                </div>
            </div>
        </div>
</body>
</html>